<html>

<head>
    <title>What Language?</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/superhero/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LS4/wo5Z/8SLpOLHs0IbuPAGOWTx30XSoZJ8o7WKH0UJhRpjXXTpODOjfVnNjeHu" crossorigin="anonymous">

    <style>
        .winner {
            color: lightgreen;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" style="background-color:white; border-radius:5px !important" href="/"><img
                alt="What Language" title="Hi!" width=60 class="img-fluid img-thumbnail rounded"
                style="border-color:white; background-color:white;" src="./images/wl_icon.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Guess Language</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/charts">Charts</a>
                     </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/aminura/Project-4">on GitHub</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <h1 class="display-5">What Language?</h1>
        <p class="lead">Hi, I am a simple language detector!</p>
        <p>I have been taught to distinguish between the following languages:
            <br><strong
                style="color:lightblue">English,&nbsp;&nbsp;French,&nbsp;&nbsp;German,&nbsp;&nbsp;Romanian</strong>
        </p>
        <hr class="my-4">
        <div class="container" style="background-color:#343a40; border-radius:5px;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row" style="margin:10px;">

                        {% for robuts in robots %}
                        {% if loop.index < 4 %}
                        <div class="card col-md-3 col-sm-6 border-primary" style="border-radius:5px;">
                        {% else %}
                        <div class="card col-md-3 col-sm-6 border-success" style="border-radius:5px;">
                        {% endif %}
                            <div class="card-header m-2" style="border-radius:5px;">
                                {% if loop.index < 4 %}
                                <h4 class="card-title">Guess #{{loop.index}} for:<br><strong
                                        style="color:lightblue">{{ word }}</strong></h4>
                                {% else %}
                                <h4 class="card-title" style="color:lightgreen">Combined Guess:<br><strong
                                    style="color:lightblue">{{ word }}</strong></h4>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                {% for robot in robuts %}
                                <h4 class="card-title{%if robot.winner %} winner{% endif %}">{{ robot.confidence }}% -
                                    {{ robot.language }}</h4>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}


                    </div>

                </div>
            </div>
        </div>
        <hr class="my-4">
        <p>Enter your word below and I will guess what language it is.</p>
        <p class="lead">
            <div class="form-group">
                <form method="POST" action="/">
                    <input type="text" name="word">
                    <button type="submit" class="btn btn-primary">Check Word</button>
                </form>
            </div>
        </p>
    </div>




</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>